header{
  background-color: black;
  color: white;
  text-align: center;
  height: 10vh;
  width: 100vw;
  padding: 10px;
}
body{
  margin: 0%;
  overflow: hidden;
}
#bg {
  border-radius: 20px;
  margin-top: 20vh;
  margin-left: 45vw; 
  height: 40px;
  border: none;
}